#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "uClinux/Blackfin (w/o MMU) Kernel Configuration"

config MMU
	bool
	default n

config FPU
	bool
	default n

config UID16
	bool
	default y

config RWSEM_GENERIC_SPINLOCK
	bool
	default y

config RWSEM_XCHGADD_ALGORITHM
	bool
	default n

config BFIN 
	bool
	default y

source "init/Kconfig"

menu "Processor type and features"

comment "Processor"
choice 
	prompt	"CPU"
	default BF533 

config BF533 
	bool "BF533"
	help
	 BF533 Processor Support.

config BF532 
	bool "BF532"
	help
	 BF532 Processor Support.

config BF531 
	bool "BF531"
	help
	 BF531 Processor Support.

config BF535 
	bool "BF535"
	help
	 BF535 Processor Support.

endchoice

config BLACKFIN
	bool
	depends on (BF535 || BF533 || BF532 || BF531)
	select IRQCHIP
	default y

comment "Platform"

choice 
	prompt	"Platform"
	default STAMP 

config EZKIT 
	bool "EZKITLITE board support"
	depends on BF533
	help
	 EZKITLITE board Support.

config MEM_MT48LC16M16A2TG_75
	bool
	depends on EZKIT
	default y

config  BLKFIN_STAMP
	bool "STAMP board support"
	depends on (BF533)
	help
	 STAMP board Support.

config MEM_MT48LC64M4A2FB_7E
	bool
	depends on BLKFIN_STAMP
	default y

config HAWK 
	bool "Hawk Board support"
	depends on BF535
	help
	  Support for Hawk Board.

config EAGLE 
	bool "Eagle Board support"
	depends on BF535
	help
	  Support for Eagle Board.

endchoice

choice
	prompt	"Kernel executes from" 
	---help---
	  Choose the memory type that the kernel will be running in.

config	RAMKERNEL 
	bool "RAM"
	help
	  The kernel will be resident in RAM when running.

config	ROMKERNEL 
	bool "ROM"
	help
	  The kernel will be resident in FLASH/ROM when running.

endchoice

config LARGE_ALLOCS
	bool "Allow allocating large blocks (> 1MB) of memory"
	help
	  Allow the slab memory allocator to keep chains for very large
	  memory sizes - upto 32MB. You may need this if your system has
	  a lot of RAM, and you need to able to allocate very large
	  contiguous chunks. If unsure, say N. 

config IRQCHIP_DEMUX_GPIO
	bool "Enable GPIO IRQ Demultiplexing"
	depends on IRQCHIP
	default n
	help
	  Demultiplex GPIO interrupt, enabling IRQ_PF0 through IRQ_PF15

comment 'DMA Support'
choice
	prompt	"Select DMA driver"
	---help---
	  Choose DMA driver implemntation

config NO_DMA
	bool 'Disable DMA Support' 
	help
	  Disable DMA driver
	
config BLKFIN_SIMPLE_DMA
	bool 'Enable Simple DMA Support' 
	depends on (BF533 || BF532 || BF531) 
	help
	  Simple DMA driver
endchoice

comment 'Cache Support'
config	BLKFIN_CACHE 
	bool "Enable CACHE" 
config	BLKFIN_DCACHE 
	bool "Enable DCACHE" 
config 	BLKFIN_CACHE_LOCK
	bool "Enable Cache Locking"

choice
	prompt "Policy"
	default BLKFIN_WB
config 	BLKFIN_WB
	bool "Write back"
config	BLKFIN_WT
	bool "Write through"	
endchoice

comment 'Crystal Frequency'

if BLKFIN_STAMP
config CLKIN_HZ
	int "Crystal"
	default "11059200" if BLKFIN_STAMP
endif

if EZKIT
config CLKIN_HZ
	int "Crystal"
	default "27000000" if EZKIT
endif

comment 'VCO Multiplier'

config VCO_MULT
	int "VCO Multiplier" 	
	default "22" if EZKIT
	default "45" if BLKFIN_STAMP

comment 'Core Clock Divider'

config CCLK_DIV
	int "Core Clock Divider"
	default 1 if EZKIT
	default 1 if BLKFIN_STAMP

comment 'System Clock Divider'

config SCLK_DIV
	int "System Clock Divider"
	default 5 if EZKIT
	default 4 if BLKFIN_STAMP

comment 'Half clockin'

config CLKIN_HALF
	bool "Half ClockIn"

comment 'Bypass PLL'

config PLL_BYPASS
	bool "Bypass PLL"

comment 'SDRAM Memory Size'

config MEM_SIZE
	int "SDRAM Memory Size"
	default 32 if EZKIT
	default 128 if BLKFIN_STAMP

comment 'Memory Address Width'

config MEM_ADD_WIDTH
	int "SDRAM Memory Address Width"
	default 9 if EZKIT
	default 11 if BLKFIN_STAMP

comment'Asynchonous Memory Configuration'

menu'EBIU_AMBCTL Global Control' 
config C_AMCKEN
	bool "Enable CLKOUT"
	default y 

config C_CDPRIO
	bool "DMA has priority over core for ext. accesses"
	default n 
choice 
	prompt"Enable Asynchonous Memory Banks"
	default C_AMBEN_ALL 

config C_AMBEN
	bool "Disable All Banks"

config C_AMBEN_B0
	bool "Enable Bank 0"

config C_AMBEN_B0_B1
	bool "Enable Bank 0 & 1"

config C_AMBEN_B0_B1_B2
	bool "Enable Bank 0 & 1 & 2"

config C_AMBEN_ALL
	bool "Enable All Banks"
endchoice
endmenu

menu'EBIU_AMBCTL Control' 
config BANK_0
	hex "Bank 0"
	default 0x7BB0 

config BANK_1
	hex "Bank 1"
	default 0x7BB0

config BANK_2
	hex "Bank 2"
	default 0x7BB0

config BANK_3
	hex "Bank 3"
	default 0x99B3
endmenu

comment 'Baud Rate'

choice
	prompt "Baud Rate"
	default BAUD_57600 
config BAUD_9600
	bool "9600"
config BAUD_19200
	bool "19200"
config BAUD_38400
	bool "38400"
config BAUD_57600
	bool "57600"
config BAUD_115200
	bool "115200"
endchoice

comment'STAMP Board features '
menu	'LED Board Status Indication'

config STAMP_BOARD_ALIVE_LED
	bool 'Enable Board Alive LED3'
	depends on BLKFIN_STAMP
	default n

config STAMP_BOARD_IDLE_LED
	bool 'Enable System Load/Idle LED2'
	depends on BLKFIN_STAMP
	default n

endmenu 

comment	'Interrupt Priority Assignment'
menu	'Priority' 		

config	UART_ERROR
	int "UART ERROR"
	default 7
config  SPORT0_ERROR
	int "SPORT0 ERROR"
	default 7 
config  SPI_ERROR
	int "SPI ERROR"
	default 7 
config  SPORT1_ERROR
	int "SPORT1 ERROR"
	default 7 
config  PPI_ERROR
	int "PPI ERROR"
	default 7 
config  DMA_ERROR
	int "DMA ERROR"
	default 7 
config  PLLWAKE_ERROR
	int "PLL WAKEUP ERROR"
	default 7
 
config  RTC_ERROR
	int "RTC ERROR"
	default 8 
config  DMA0_PPI
	int "DMA0 PPI"
	default 8
 
config  DMA1_SPORT0RX
	int "DMA1 (SPORT0 RX)"
	default 9 
config  DMA2_SPORT0TX
	int "DMA2 (SPORT0 TX)"
	default 9 
config  DMA3_SPORT1RX
	int "DMA3 (SPORT1 RX)"
	default 9 
config  DMA4_SPORT1TX
	int "DMA4 (SPORT1 TX)"
	default 9 


config  DMA5_SPI
	int "DMA5 (SPI)"
	default 10 
config  DMA6_UARTRX
	int "DMA6 (UART0 RX)"
	default 10 
config  DMA7_UARTTX
	int "DMA7 (UART0 TX)"
	default 10 

config 	TIMER0
	int "TIMER0"
	default 11
config 	TIMER1
	int "TIMER1"
	default 11
config 	TIMER2
	int "TIMER2"
	default 11

config	PFA
	int "PF Interrupt A"
	default 12
config	PFB
	int "PF Interrupt B"
	default 12

config	MEMDMA0
	int "MEMORY DMA0"
	default 13
config	MEMDMA1
	int "MEMORY DMA1"
	default 13
config	WDTIMER
	int "WATCH DOG TIMER"
	default 13

	help
	  ------------------------- GENERAL HELP -------------------------
	  Enter the priority numbers between 7-13 ONLY. Others are Reserved. 		
 	  This applies to all the above.It is not recommended to assign the 
	  highest priority no 7 to UART or any other device.

endmenu

endmenu

#############################################################################
menu "Bus options (PCI, PCMCIA, EISA, MCA, ISA)"

config PCI
	bool "PCI support"
	help
	  Support for PCI bus.

source "drivers/pci/Kconfig"

config HOTPLUG
	bool "Support for hot-pluggable device"
	  ---help---
	  Say Y here if you want to plug devices into your computer while
	  the system is running, and be able to use them quickly.  In many
	  cases, the devices can likewise be unplugged at any time too.

	  One well known example of this is PCMCIA- or PC-cards, credit-card
	  size devices such as network cards, modems or hard drives which are
	  plugged into slots found on all modern laptop computers.  Another
	  example, used on modern desktops as well as laptops, is USB.

	  Enable HOTPLUG and KMOD, and build a modular kernel.  Get agent
	  software (at <http://linux-hotplug.sourceforge.net/>) and install it.
	  Then your kernel will automatically call out to a user mode "policy
	  agent" (/sbin/hotplug) to load modules and set up software needed
	  to use devices as you hotplug them.

source "drivers/pcmcia/Kconfig"

source "drivers/pci/hotplug/Kconfig"

endmenu

menu	"Executable File Formats"
source	"fs/Kconfig.binfmt"
endmenu

menu "Power management options"

config PM
	bool "Power Management support for BF533"
	help
	  Support processor power management modes 
endmenu

source "drivers/base/Kconfig"

source "drivers/mtd/Kconfig"

source "drivers/parport/Kconfig"

source "drivers/pnp/Kconfig"

source "drivers/block/Kconfig"

source "drivers/ide/Kconfig"

source "drivers/scsi/Kconfig"

source "drivers/cdrom/Kconfig"

source "drivers/md/Kconfig"

source "drivers/message/fusion/Kconfig"

source "drivers/ieee1394/Kconfig"

source "drivers/message/i2o/Kconfig"

source "net/Kconfig"

source "drivers/isdn/Kconfig"

source "drivers/telephony/Kconfig"

#
# input before char - char/joystick depends on it. As does USB.
#
source "drivers/input/Kconfig"

source "drivers/char/Kconfig"

#source drivers/misc/Config.in
source "drivers/media/Kconfig"

source "fs/Kconfig"

source "drivers/video/Kconfig"

source "sound/Kconfig"

source "drivers/usb/Kconfig"

source "arch/bfinnommu/oprofile/Kconfig"

menu "Kernel hacking"

config FULLDEBUG
	bool "Full Symbolic/Source Debugging support"
	help
	  Enable debuging symbols on kernel build.

config DEBUG_KERNEL
	bool "Kernel debugging"
	help
	  Say Y here if you are developing drivers or trying to debug and
	  identify kernel problems.

config DEBUG_SLAB
	bool "Debug memory allocations"
	depends on DEBUG_KERNEL
	help
	  Say Y here to have the kernel do limited verification on memory
	  allocation as well as poisoning memory on free to catch use of freed
	  memory.

config FRAME_POINTER
	bool "Compile the kernel with frame pointers"
	help
	  If you say Y here the resulting kernel image will be slightly larger
	  and slower, but it will give very useful debugging information.
	  If you don't debug the kernel, you can say N, but we may not be able
	  to solve problems without frame pointers.

config MAGIC_SYSRQ
	bool "Magic SysRq key"
	help
	  Enables console device to interpret special characters as
	  commands to dump state information.

config BOOTPARAM
	bool 'Compiled-in Kernel Boot Parameter'

config BOOTPARAM_STRING 
	string 'Kernel Boot Parameter'
	default 'console=ttyS0,19200'
	depends on BOOTPARAM

config NO_KERNEL_MSG
	bool "Suppress Kernel BUG Messages"
	help
	  Do not output any debug BUG messages within the kernel.

config CPLB_INFO
	bool "Display the CPLB information"
	help
	  Display the CPLB information.
endmenu

source "security/Kconfig"

source "crypto/Kconfig"

source "lib/Kconfig"




