# uClinux Blackfin Target Board Selection Menu (IDE)

if (BFIN)
menu "IDE Extra configuration"

config BFIN_IDE_BASE
	hex "IDE register base address"
	depends on IDE
	default 0x20200020
	help
	  IDE registers base address

config BFIN_IDE_ALT
	hex "IDE register alternate address"
	depends on IDE
	default 0x2020001c
	help
	  IDE alternate registers address

config BFIN_IDE_IRQ
	int "IDE IRQ no"
	depends on IDE
	default 59
	help
	  IDE use IRQ no IRQ_PROG_INTB

config BFIN_IDE_IRQ_PFX
	int "IDE IRQ PFx no"
	depends on IDE
	default 59
	help
	  IDE IRQ use PFx

endmenu
endif


