#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "uClinux/Blackfin (w/o MMU) Kernel Configuration"

config MMU
	bool
	default n

config FPU
	bool
	default n

config UID16
	bool
	default y

config RWSEM_GENERIC_SPINLOCK
	bool
	default y

config RWSEM_XCHGADD_ALGORITHM
	bool
	default n

config BFIN
	bool
	default y

config UCLINUX
	bool
	default y

config FORCE_MAX_ZONEORDER
	int
	default "14"

source "init/Kconfig"

menu "Blackfin Processor Options"

comment "Processor and Board Settings"

choice
	prompt	"CPU"
	default BF533

config BF533
	bool "BF533"
	help
	 BF533 Processor Support.

config BF532
	bool "BF532"
	help
	 BF532 Processor Support.

config BF531
	bool "BF531"
	help
	 BF531 Processor Support.

config BF534
	bool "BF534"
	help
	 Not Supported Yet - Work in progress - BF534 Processor Support.

config BF535
	bool "BF535"
	help
	 Not Supported - BF535 Processor Support.

config BF536
	bool "BF536"
	help
	 Not Supported Yet - Work in progress - BF536 Processor Support.

config BF537
	bool "BF537"
	help
	 Not Supported Yet - Work in progress - BF537 Processor Support.

config BF561
	bool "BF561"
	help
	 Not Supported Yet - Work in progress - BF561 Processor Support.

endchoice

config BLACKFIN
	bool
	depends on (BF537 || BF536 || BF534 || BF561 || BF535 || BF533 || BF532 || BF531)
	default y

config BFIN_SINGLE_CORE
	bool
	depends on (BF537 || BF536 || BF534 || BF535 || BF533 || BF532 || BF531)
	default y

config BFIN_DUAL_CORE
	bool
	depends on (BF561)
	default y

choice
	prompt	"Kernel is configured for"
	default BFIN533_STAMP
	help
	  Do NOT change the board here, please use the top level configuration to ensure all
	  all the other settings are correct

config BFIN533_EZKIT
	bool "BF533-EZKIT"
	depends on (BF533)
	help
	 BF533-EZKIT-LITE board Support.

config  BFIN533_STAMP
	bool "BF533-STAMP"
	depends on (BF533)
	help
	 BF533-STAMP board Support.

config BFIN537_STAMP
	bool "BF537-STAMP"
	depends on (BF537)
	help
	  BF537-STAMP board Support.

config BFIN533_BLUETECHNIX_CM
	bool "Bluetechnix CM-BF533 board support"
	depends on BF533
	help
	  CM-BF533 support for EVAL- and DEV-Board

config GENERIC_BOARD
	bool "Custom"
	depends on (BF537 || BF536 || BF534 || BF561 || BF535 || BF533 || BF532 || BF531)
	help
	 GENERIC or Custom board Support.

endchoice

config MEM_GENERIC_BOARD
	bool
	depends on GENERIC_BOARD
	default y

config MEM_MT48LC64M4A2FB_7E
	bool
	depends on (BFIN533_STAMP)
	default y

config MEM_MT48LC16M16A2TG_75
	bool
	depends on (BFIN533_EZKIT || BFIN533_BLUETECHNIX_CM)
	default y

config MEM_MT48LC16M8A2TG_75
	bool
	depends on (BFIN537_STAMP)
	default y

config BFIN_SHARED_FLASH_ENET
	bool
	depends on (BFIN533_STAMP || BFIN533_BLUETECHNIX_CM)
	default y

source "arch/blackfin/mach-bf533/Kconfig"
source "arch/blackfin/mach-bf561/Kconfig"
source "arch/blackfin/mach-bf537/Kconfig"

menu 	'Board specific issues'

comment 'Board Setup'

config CLKIN_HZ
	int "Crystal Frequency in Hz"
	default "11059200" if BFIN533_STAMP
	default "27000000" if BFIN533_EZKIT
	default "25000000" if BFIN537_STAMP
	default "27000000" if BFIN533_BLUETECHNIX_CM
	help
	  The frequency of CLKIN crystal oscillator on the board in Hz.

config MEM_SIZE
	int "SDRAM Memory Size in MBytes"
	default  32 if BFIN533_EZKIT
	default  32 if BFIN533_BLUETECHNIX_CM
	default  64 if BFIN537_STAMP
	default 128 if BFIN533_STAMP

config MEM_ADD_WIDTH
	int "SDRAM Memory Address Width"
	default  9 if BFIN533_EZKIT
	default  9 if BFIN533_BLUETECHNIX_CM
	default 10 if BFIN537_STAMP
	default 11 if BFIN533_STAMP

comment	'LED Status Indicators'

config BFIN_ALIVE_LED
	bool "Enable Board Alive"
	depends on ( BFIN533_STAMP || BFIN533_BLUETECHNIX_CM )
	default n
	help
	  Blinks the LED you select when the kernel is running. Helps detect a hung kernel.

config BFIN_ALIVE_LED_NUM
	int "LED"
	depends on BFIN_ALIVE_LED
	range 1 3 if BFIN533_STAMP
	range 1 2 if BFIN533_BLUETECHNIX_CM
	default "3" if BFIN533_STAMP
	default "1" if BFIN533_BLUETECHNIX_CM
	help
	  Select the LED (marked on the board) for you to blink.

config BFIN_IDLE_LED
	bool 'Enable System Load/Idle LED'
	depends on ( BFIN533_STAMP || BFIN533_BLUETECHNIX_CM )
	default n
	help
	  Blinks the LED you select when to determine kernel load.

config BFIN_IDLE_LED_NUM
	int "LED"
	depends on BFIN_IDLE_LED
	range 1 3 if BFIN533_STAMP
	range 1 2 if BFIN533_BLUETECHNIX_CM
	default "2" if BFIN533_STAMP
	default "2" if BFIN533_BLUETECHNIX_CM
	help
	  Select the LED (marked on the board) for you to blink.

#
# Sorry - but you need to put the hex address here - 
#

# Flag Data register
config BFIN_ALIVE_LED_PORT
	hex
	default 0xFFC00700 if (BFIN533_STAMP)
	default 0xFFC00700 if (BFIN533_BLUETECHNIX_CM)

# Peripheral Flag Direction Register
config BFIN_ALIVE_LED_DPORT
        hex
        default 0xFFC00730 if (BFIN533_STAMP)
	default 0xFFC00730 if (BFIN533_BLUETECHNIX_CM)

config BFIN_ALIVE_LED_PIN
	hex
	default 0x04 if (BFIN533_STAMP && ( BFIN_ALIVE_LED_NUM = 1 ))
	default 0x08 if (BFIN533_STAMP && ( BFIN_ALIVE_LED_NUM = 2 ))
	default 0x10 if (BFIN533_STAMP && ( BFIN_ALIVE_LED_NUM = 3 ))
	default 0x80 if (BFIN533_BLUETECHNIX_CM && ( BFIN_ALIVE_LED_NUM = 1 ))
	default 0xC0 if (BFIN533_BLUETECHNIX_CM && ( BFIN_ALIVE_LED_NUM = 2 ))

config BFIN_IDLE_LED_PORT
        hex
        default 0xFFC00700 if (BFIN533_STAMP)
	default 0xFFC00700 if (BFIN533_BLUETECHNIX_CM)

# Peripheral Flag Direction Register
config BFIN_IDLE_LED_DPORT
        hex
        default 0xFFC00730 if (BFIN533_STAMP)
	default 0xFFC00730 if (BFIN533_BLUETECHNIX_CM)

config BFIN_IDLE_LED_PIN
        hex
        default 0x04 if (BFIN533_STAMP && ( BFIN_IDLE_LED_NUM = 1 ))
        default 0x08 if (BFIN533_STAMP && ( BFIN_IDLE_LED_NUM = 2 ))
        default 0x10 if (BFIN533_STAMP && ( BFIN_IDLE_LED_NUM = 3 ))
        default 0x80 if (BFIN533_BLUETECHNIX_CM && ( BFIN_IDLE_LED_NUM = 1 ))
        default 0xC0 if (BFIN533_BLUETECHNIX_CM && ( BFIN_IDLE_LED_NUM = 2 ))

comment 'Console UART Setup'

choice
        prompt "Baud Rate"
        default BAUD_57600
config BAUD_9600
        bool "9600"
config BAUD_19200
        bool "19200"
config BAUD_38400
        bool "38400"
config BAUD_57600
        bool "57600"
config BAUD_115200
        bool "115200"
endchoice

choice
	prompt "Parity"
	default BAUD_NO_PARITY
config  BAUD_NO_PARITY
	bool "No Parity"
config  BAUD_PARITY
	bool "Parity"
endchoice

choice
	prompt "Stop Bits"
	default BAUD_1_STOPBIT
config  BAUD_1_STOPBIT
	bool "1"
config  BAUD_2_STOPBIT
        bool "2"
endchoice

endmenu


choice
	prompt	"Kernel executes from"
	---help---
	  Choose the memory type that the kernel will be running in.

config	RAMKERNEL
	bool "RAM"
	help
	  The kernel will be resident in RAM when running.

config	ROMKERNEL
	bool "ROM"
	help
	  The kernel will be resident in FLASH/ROM when running.

endchoice

config ROOTFS_TIED_TO_KERNEL
	bool "Enable RAM RootFS attached to the Kernel image (linux)"
	depends on BLACKFIN
	default y
	help
	  When using the vmlinux image only this option should be disabled.
	  It prevents that the memory start location of the kernel is adjusted
	  by the RAM RootFS size.

config LARGE_ALLOCS
	bool "Allow allocating large blocks (> 1MB) of memory"
	help
	  Allow the slab memory allocator to keep chains for very large
	  memory sizes - upto 32MB. You may need this if your system has
	  a lot of RAM, and you need to able to allocate very large
	  contiguous chunks. If unsure, say N.

config IRQCHIP_DEMUX_GPIO
	bool "Enable GPIO IRQ Demultiplexing"
	depends on BLACKFIN
	default n
	help
	  Demultiplex GPIO interrupt, enabling IRQ_PF0 through IRQ_PF15

comment 'DMA Support'
choice
	prompt	"Select DMA driver"
	---help---
	  Choose DMA driver implemntation

config NO_DMA
	bool 'Disable DMA Support'
	help
	  Disable DMA driver

config BLKFIN_SIMPLE_DMA
	bool 'Enable Simple DMA Support'
	depends on (BF533 || BF532 || BF531 || BF537 || BF536 || BF534)
	help
	  Simple DMA driver
endchoice

comment 'Cache Support'
config	BLKFIN_CACHE
	bool "Enable ICACHE"
config	BLKFIN_DCACHE
	bool "Enable DCACHE"
config 	BLKFIN_CACHE_LOCK
	bool "Enable Cache Locking"

choice
	prompt "Policy"
	depends on BLKFIN_DCACHE
	default BLKFIN_WB
config 	BLKFIN_WB
	bool "Write back"
config	BLKFIN_WT
	bool "Write through"
endchoice

config UNCACHED_1M
	bool 'Enable 1M Uncached SDRAM region'
	default y
	---help---
	  Size of the uncached SDRAM region

menu	"Clock Settings"

comment 'VCO Multiplier'

config VCO_MULT
	int "VCO Multiplier"
	default "22" if BFIN533_EZKIT
	default "45" if BFIN533_STAMP
	default "45" if BFIN537_STAMP
	default "22" if BFIN533_BLUETECHNIX_CM

comment 'Core Clock Divider'

config CCLK_DIV
	int "Core Clock Divider"
	default 1 if BFIN533_EZKIT
	default 1 if BFIN533_STAMP
	default 1 if BFIN537_STAMP
	default 1 if BFIN533_BLUETECHNIX_CM

comment 'System Clock Divider'

config SCLK_DIV
	int "System Clock Divider"
	default 5 if BFIN533_EZKIT
	default 5 if BFIN533_STAMP
	default 5 if BFIN537_STAMP
	default 5 if BFIN533_BLUETECHNIX_CM

comment 'Half clockin'

config CLKIN_HALF
	bool "Half ClockIn"

comment 'Bypass PLL'

config PLL_BYPASS
	bool "Bypass PLL"

endmenu

comment'Asynchonous Memory Configuration'

menu'EBIU_AMBCTL Global Control'
config C_AMCKEN
	bool "Enable CLKOUT"
	default y

config C_CDPRIO
	bool "DMA has priority over core for ext. accesses"
	default n
choice
	prompt"Enable Asynchonous Memory Banks"
	default C_AMBEN_ALL

config C_AMBEN
	bool "Disable All Banks"

config C_AMBEN_B0
	bool "Enable Bank 0"

config C_AMBEN_B0_B1
	bool "Enable Bank 0 & 1"

config C_AMBEN_B0_B1_B2
	bool "Enable Bank 0 & 1 & 2"

config C_AMBEN_ALL
	bool "Enable All Banks"
endchoice
endmenu

menu'EBIU_AMBCTL Control'
config BANK_0
	hex "Bank 0"
	default 0x7BB0

config BANK_1
	hex "Bank 1"
	default 0x7BB0

config BANK_2
	hex "Bank 2"
	default 0x7BB0

config BANK_3
	hex "Bank 3"
	default 0x99B3
endmenu

endmenu

#############################################################################
menu "Bus options (PCI, PCMCIA, EISA, MCA, ISA)"

config PCI
	bool "PCI support"
	help
	  Support for PCI bus.

source "drivers/pci/Kconfig"

config HOTPLUG
	bool "Support for hot-pluggable device"
	  ---help---
	  Say Y here if you want to plug devices into your computer while
	  the system is running, and be able to use them quickly.  In many
	  cases, the devices can likewise be unplugged at any time too.

	  One well known example of this is PCMCIA- or PC-cards, credit-card
	  size devices such as network cards, modems or hard drives which are
	  plugged into slots found on all modern laptop computers.  Another
	  example, used on modern desktops as well as laptops, is USB.

	  Enable HOTPLUG and KMOD, and build a modular kernel.  Get agent
	  software (at <http://linux-hotplug.sourceforge.net/>) and install it.
	  Then your kernel will automatically call out to a user mode "policy
	  agent" (/sbin/hotplug) to load modules and set up software needed
	  to use devices as you hotplug them.

source "drivers/pcmcia/Kconfig"

source "drivers/pci/hotplug/Kconfig"

endmenu

menu	"Executable File Formats"
source	"fs/Kconfig.binfmt"
endmenu

menu "Power management options"
config PM
	bool "Power Management support for BF533"
	help
	  Support processor power management modes
endmenu

if (BFIN533_STAMP)

menu "CPU Frequency scaling"

source "drivers/cpufreq/Kconfig"

config CPU_FREQ_BF533
	bool
	depends on CPU_FREQ && BFIN533_STAMP
	default y
endmenu

endif


source "drivers/base/Kconfig"

source "drivers/mtd/Kconfig"

source "drivers/parport/Kconfig"

source "drivers/pnp/Kconfig"

source "drivers/block/Kconfig"

source "drivers/ide/Kconfig"

source "arch/blackfin/Kconfig.ide"

source "drivers/scsi/Kconfig"

source "drivers/cdrom/Kconfig"

source "drivers/md/Kconfig"

source "drivers/message/fusion/Kconfig"

source "drivers/ieee1394/Kconfig"

source "drivers/message/i2o/Kconfig"

source "net/Kconfig"

source "drivers/isdn/Kconfig"

source "drivers/telephony/Kconfig"

#
# input before char - char/joystick depends on it. As does USB.
#
source "drivers/input/Kconfig"

source "drivers/i2c/Kconfig"

source "drivers/char/Kconfig"

#source drivers/misc/Config.in
source "drivers/media/Kconfig"

source "fs/Kconfig"

source "drivers/video/Kconfig"

source "sound/Kconfig"

source "drivers/usb/Kconfig"

source "arch/blackfin/oprofile/Kconfig"

menu "Kernel hacking"

config FULLDEBUG
	bool "Full Symbolic/Source Debugging support"
	help
	  Enable debuging symbols on kernel build.

config DEBUG_KERNEL
	bool "Kernel debugging"
	help
	  Say Y here if you are developing drivers or trying to debug and
	  identify kernel problems.

config DEBUG_SLAB
	bool "Debug memory allocations"
	depends on DEBUG_KERNEL
	help
	  Say Y here to have the kernel do limited verification on memory
	  allocation as well as poisoning memory on free to catch use of freed
	  memory.

config FRAME_POINTER
	bool "Compile the kernel with frame pointers"
	help
	  If you say Y here the resulting kernel image will be slightly larger
	  and slower, but it will give very useful debugging information.
	  If you don't debug the kernel, you can say N, but we may not be able
	  to solve problems without frame pointers.

config MAGIC_SYSRQ
	bool "Magic SysRq key"
	help
	  Enables console device to interpret special characters as
	  commands to dump state information.

config BOOTPARAM
	bool 'Compiled-in Kernel Boot Parameter'

config BOOTPARAM_STRING
	string 'Kernel Boot Parameter'
	default 'console=ttyS0,19200'
	depends on BOOTPARAM

config NO_KERNEL_MSG
	bool "Suppress Kernel BUG Messages"
	help
	  Do not output any debug BUG messages within the kernel.

config CPLB_INFO
	bool "Display the CPLB information"
	help
	  Display the CPLB information.
endmenu

source "security/Kconfig"

source "crypto/Kconfig"

source "lib/Kconfig"




