.txtutility {
	FONT-SIZE: 11px; COLOR: #798c94; FONT-FAMILY: arial
}
.txttitles {
	FONT-SIZE: 17px; COLOR: #535c5f; FONT-FAMILY: arial
}
A.lnkutility {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial
}
A.lnkutility:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.lnkutility:active {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkutility:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkutilitydark {
	FONT-SIZE: 10px; COLOR: #535c5f; FONT-FAMILY: arial
}
A.lnkutilitydark:visited {
	FONT-SIZE: 10px; COLOR: #535c5f; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.lnkutilitydark:active {
	FONT-SIZE: 10px; COLOR: #535c5f; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkutilitydark:hover {
	FONT-SIZE: 10px; COLOR: #535c5f; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.tablink {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial
}
A.tablink:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.tablink:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.tabsellink {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.tabsellink:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.tabsellink:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnktasks {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #be8306; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.lnktasks:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #be8306; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.lnktasks:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #be8306; FONT-FAMILY: arial
}
A.lnktasks:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #be8306; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkleftnav {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkleftnav:visited {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkleftnav:active {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkleftnav:hover {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.lnkfooter {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkfooter:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkfooter:active {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
A.lnkfooter:hover {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
UL.list1 {
	LIST-STYLE-IMAGE: url(img/bullet_1.gif)
}
.tablestyle1 {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #f2f2f2 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BORDER-BOTTOM: #c8c8c8 1px solid
}
BODY {
	SCROLLBAR-FACE-COLOR: #b4b4b4; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #f3f3f3; SCROLLBAR-SHADOW-COLOR: #f3f3f3; SCROLLBAR-ARROW-COLOR: #f7d30b; SCROLLBAR-BASE-COLOR: #b4b4b4; scrollbar-dark-shadow-color: #FFFFFF; scrollbar-3d-light-color: #B4B4B4
}
.btnutility {
	BORDER-RIGHT: #535c5f 1px solid; BORDER-TOP: #9dadb2 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; FILTER: progid:DXImageTransform.Microsoft.Gradient
(GradientType=0,StartColorStr='#9DADB2',EndColorStr='#758084'); BORDER-LEFT: #9dadb2 1px solid; WIDTH: 93px; COLOR: #ffffff; BORDER-BOTTOM: #535c5f 1px solid; FONT-FAMILY: arial; HEIGHT: 19px; BACKGROUND-COLOR: #758084
}
.button2 {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: 1px outset; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(img/bg_button.gif); PADDING-BOTTOM: 1px; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: 1px outset; WIDTH: 106px; CURSOR: pointer; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: 1px outset; backgroung-image: repeat-x
}
.formutility {
	BORDER-RIGHT: #9dadb2 1px solid; BORDER-TOP: #9dadb2 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #9dadb2 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #9dadb2 1px solid; FONT-FAMILY: arial; HEIGHT: 20px; BACKGROUND-COLOR: #525e63
}
.lnkutilityST {
	COLOR: black; TEXT-DECORATION: none
}
:link {
	FONT-SIZE: 11px; COLOR: #be8306; FONT-FAMILY: arial; TEXT-DECORATION: none
}
:visited {
	FONT-SIZE: 11px; COLOR: #be8306; FONT-FAMILY: arial; TEXT-DECORATION: none
}
