config VIDEO_BLACKFIN_MT9M001
	tristate "Micron Camera driver for BF537"
	depends on BFIN && VIDEO_DEV && I2C
	default n
	help
	  V4L Support for the Micron MT9M001 camera attached to
	  the Blackfin PPI.

	  To compile this driver as a module, choose M here: the
	  module will be called mt9m001.
