menuconfig XENO_SKIN_VXWORKS
	depends on XENO_OPT_NUCLEUS
	select XENO_OPT_TIMING_PERIODIC
	tristate "VxWorks emulator"
	select XENO_OPT_REGISTRY if XENO_OPT_PERVASIVE
	help

	This API skin emulates WindRiver's VxWorks operating system.

if XENO_SKIN_VXWORKS

config XENO_OPT_VXWORKS_PERIOD
	int "Base period (us)"
	default 1000
	help
	Duration of the base periodic tick (in microseconds).

	The VxWorks skin expresses all delays and timeouts as
	counts of ticks. This parameter defines the duration
	of a VxWorks clock tick expressed in microseconds.

	The base period can be overriden at runtime using the
	"tick_arg" module parameter when loading the VxWorks skin.

config XENO_OPT_DEBUG_VXWORKS
	bool "Debugging support"
	depends on XENO_OPT_DEBUG
	default y
	help

	When enabled, this option makes the skin warn about
	auto-clean operations executed upon process termination.

endif
