#############################################################################

#
#	Kconfig - user space configuration
#

#############################################################################

mainmenu "Linux Application Configuration"

config KERNELVERSION
	string
	default "4.0"

source ../lib/Kconfig

source ../user/Kconfig

source ../vendors/Kconfig

#############################################################################
