#############################################################################

#
#	Kconfig - user space configuration
#

#############################################################################

mainmenu "Linux Application Configuration"

source ../lib/Kconfig

source ../user/Kconfig

source ../vendors/Kconfig

#############################################################################
