#
# $Id$
#
menu "ALSA Blackfin devices"
	depends on SND!=n && BFIN

config SND_BLACKFIN_ADI1836
	tristate "1836 Audio support for BF53x"
	depends on BFIN
	select SND_PCM
	help
	  Select this if you have an 1836 connected to the SPI and SPORTx ports

	  If unsure, say N.

#config SND_BLACKFIN_ADI1981B
#	bool "1981b Audio support for BF53x"
#	depends on BFIN
#	select SND_PCM
#	help
#	  Select this if you have an 1981b connected to the SPORTx port
#
#	  If unsure, say N.

config SND_BLACKFIN_SPORT
	int "Blackfin Audio SPORT port"
	depends on SND_BLACKFIN_ADI1836
	default 0
	help
	  Enter the Blackfin SPORT port to which your sound chip is connected
	  acceptable values are 0 or 1

config SND_BLACKFIN_SPI_PFBIT
	int "Blackfin Audio SPI channel selection bit"
	depends on SND_BLACKFIN_ADI1836
	default 4
	help
	  Enter the Blackfin SPI channel to which your sound chip is connected
	  acceptable values are 0 to 7

endmenu

