# uClinux Blackfin Target Board Selection Menu (IDE)

choice
	prompt "IDE Interface Address Mapping (see help)"
	depends on IDE_BFIN
	default BFIN_IDE_ADDRESS_MAPPING_MODE0

config BFIN_IDE_ADDRESS_MAPPING_MODE0
	bool "Linear 16-bit mapping with reg spacing"
	help
	  Blackfin        HDD
	  A1        -->   A0
	  A2        -->   A1
	  A3        -->   A2
	  A4 +AMSx  -->   /CS0
	  A5 +AMSx  -->   /CS1
	  /ARE      -->   /IOR
	  /AWE      -->   /IOW
	  PFx       <--   /INTRQ
	  /RESET    -->   /RESET
	  D[0..15]  <->   D[0..15]

	  For CF Cards in TRUE IDE MODE only
	  VCC       <--   /REG
	  VCC       <--   /WE
	  GND       <--   /ATA_SEL

config BFIN_IDE_ADDRESS_MAPPING_MODE1
	bool "16-bit mapping for multimode CF Interface"
	help
	  Blackfin        HDD
	  Ax        -->   A0
	  A1        -->   A1
	  A2        -->   A2
	  A4 +AMSx  -->   /CS0
	  A5 +AMSx  -->   /CS1
	  /ARE      -->   /IOR
	  /AWE      -->   /IOW
	  PFx       <--   /INTRQ
	  /RESET    -->   /RESET
	  D[0..15]  <->   D[0..15]

	  For CF Cards in TRUE IDE MODE only
	  VCC       <--   /REG
	  VCC       <--   /WE
	  GND       <--   /ATA_SEL

endchoice

config BFIN_IDE_BASE
	hex "IDE register base address"
	depends on BFIN_IDE_ADDRESS_MAPPING_MODE0 || BFIN_IDE_ADDRESS_MAPPING_MODE1
	default "0x20314020" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && (BFIN537_STAMP || BFIN533_STAMP || BF533_EZKIT || BF561_EZKIT))
	default "0x2031C020" if (BFIN_IDE_ADDRESS_MAPPING_MODE1 && (BFIN537_STAMP || BFIN533_STAMP || BF533_EZKIT || BF561_EZKIT))
	default "0x2030C000" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && (BFIN533_BLUETECHNIX_CM || BFIN537_BLUETECHNIX_CM))
	default "0x2400C000" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && BFIN561_BLUETECHNIX_CM)
	help
	  IDE registers base address
	  default "0x20314020" if BFIN_IDE_ADDRESS_MAPPING_MODE0
	  default "0x2031C020" if BFIN_IDE_ADDRESS_MAPPING_MODE1

config BFIN_IDE_ALT
	hex "IDE register alternate address"
	depends on BFIN_IDE_ADDRESS_MAPPING_MODE0 || BFIN_IDE_ADDRESS_MAPPING_MODE1
	default "0x2031401C" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && (BFIN537_STAMP || BFIN533_STAMP || BF533_EZKIT || BF561_EZKIT))
	default "0x2031C016" if (BFIN_IDE_ADDRESS_MAPPING_MODE1 && (BFIN537_STAMP || BFIN533_STAMP || BF533_EZKIT || BF561_EZKIT))
	default "0x2030D018" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && (BFIN533_BLUETECHNIX_CM || BFIN537_BLUETECHNIX_CM))
	default "0x2400D018" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && BFIN561_BLUETECHNIX_CM)
	help
	  IDE alternate registers address
	  default "0x2031401C" if BFIN_IDE_ADDRESS_MAPPING_MODE0
	  default "0x2031C01C" if BFIN_IDE_ADDRESS_MAPPING_MODE1

config BFIN_IDE_IRQ_PFX
	int "IDE IRQ_PFx number"
	depends on BFIN_IDE_ADDRESS_MAPPING_MODE0 || BFIN_IDE_ADDRESS_MAPPING_MODE1
	range 33 120
	default "55" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && (BFIN537_STAMP || BFIN533_STAMP || BF533_EZKIT || BF561_EZKIT))
	default "54" if (BFIN_IDE_ADDRESS_MAPPING_MODE1 && (BFIN537_STAMP || BFIN533_STAMP || BF533_EZKIT || BF561_EZKIT))
	default "38" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && BFIN533_BLUETECHNIX_CM)
	default "64" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && BFIN537_BLUETECHNIX_CM)
	default "119" if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && BFIN561_BLUETECHNIX_CM)
	help

config BFIN_IDE_GAP
	int "Address Stride / IDE GAP"
	depends on BFIN_IDE_ADDRESS_MAPPING_MODE0
	default 2 if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && (BFIN537_STAMP || BFIN533_STAMP || BF533_EZKIT || BF561_EZKIT))
	default 4 if (BFIN_IDE_ADDRESS_MAPPING_MODE0 && (BFIN533_BLUETECHNIX_CM || BFIN561_BLUETECHNIX_CM || BFIN537_BLUETECHNIX_CM))
	help

config BFIN_IDE_ADDRESS_AX
	int "Blackfin A[x] used as CF A0"
	depends on BFIN_IDE_ADDRESS_MAPPING_MODE1
	default 13
	help

config CF_ATASEL_ENA
	hex "Address for enabling CF TRUE IDE MODE (ATASEL)"
	depends on BFIN_IDE_ADDRESS_MAPPING_MODE1
	default 0x20311802
	help

config CF_ATASEL_DIS
	hex "Address for disabling CF TRUE IDE MODE (ATASEL)"
	depends on BFIN_IDE_ADDRESS_MAPPING_MODE1
	default 0x20311800
	help
